<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.krest.job.admin.mapper.JobHandlerMapper">

    <select id="selectNotRunningJobHandler" resultType="com.krest.job.common.entity.JobHandler">
        select *
        from job_handler
        where is_running = 1
          and service_address not in (select distinct service_address from service_info)
    </select>
</mapper>
